/* style.css
Stylesheet for improvhistory.com
*/

body {
	font-family: "Helvetica", "Arial", "sans-serif"; 
	background-color: rgb(240,235,230);
}

ul {
	border: 2px solid black;
	padding: 1%;
	list-style-type: none;
	text-align: center;
	background-color: rgb(250,250,250)
}

li {
	display: inline-block;
	margin: 10%;
	box-sizing: border-box;
}

li.block {
	border: 1px solid black;
}

.container {
	margin: 2%;
	max-width: 1000px;
}

.banner {
	position: relative;
	display: block;
}

.image {
	/* height: 500px; */
	min-height: 100px;
	background: url("improvhistory.jpeg") no-repeat;
	background-size: 100%;

}

.hidden {
	display:none;
}

.row {
	position: relative;
}