/* style.css
Stylesheet for improvhistory.com
*/

body {
	font-family: "Helvetica", "Arial", "sans-serif"; 
	background-color: rgb(240,235,230);
}

ul {
	border: 2px solid black;
	padding: 1%;
	list-style-type: none;
	text-align: center;
	background-color: rgb(250,250,250)
}

li {
	display: inline-block;
	margin: 10%;
	box-sizing: border-box;
}

img {
	width: 100%;
	z-index: 10;
}

li.block {
	border: 1px solid black;
}

.container {
	margin: 2%;
	max-width: 1000px;
}

.banner {
	position: relative;
}

.image {
	background: url("improvhistory.jpeg") no-repeat;
	background-size: 100%;
	width: 100%;
	z-index: 0;
}

.hidden {
	/*display:none;*/
	background-color: rgb(250,250,250);
	min-height: 100px;
	z-index: 100;
	position: absolute;
	width: 100%;
	left: 0%;
	top: 0%;
	bottom: 0%;
}

.row {
	position: relative;
	clear: both;
}