extends ./main.jade
block content
	.container
		include ./nav.jade
		.section.brown-background.centered-content.form-page-intro
			.content
				h2.serif-font.section-header.white
					span.first-letter M
					| ake 
					span.first-letter H
					| istory (up)
				.centered-max-width
					p.sans-font.white.center.centered-content.text-max-width
						| Improvised History is looking to add members to the ensemble! As a group, we play around with US history, and ocasionally other areas of history as well. We have monthly shows coming up through April at the Democracy Center. Coached by Matt Chapuran.
					br
					p.sans-font.white.center.centered-content.text-max-width
						| And a new project, Improvised Musical History, is also looking for people with musical improv experience. We will be creating a narrative musical based on a suggestion of a historical event. Music directed by Nate Shaffer, directed by Scott Istvan.
					br
					p.sans-font.white.center.centered-content.text-max-width
						| Auditions will be held on Tuesday, January 3rd at 7:15 PM at the New School of Music in Cambridge. Please fill out the form below and we'll send you more details a few days before the auditions.
		.section.off-white-background.centered-content
			.content
				.centered-max-width
					iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSe1-5J1avoVG4vMZn1lD22MuP7fnLb-lui45mvjlSSUJYWRfg/viewform?embedded=true" width="760" height="1600" frameborder="0" marginheight="0" marginwidth="0")
						| Loading...
		.section.brown-background.centered-content
			.content
				.centered-max-width
					h2.white.serif-font
						span.first-letter Q
						| uestions:
					ul.info-list.white
						li
							h3.serif-font How much history do I have to know?
							p.sans-font 
								| We're looking for a variety of comfort levels with history - not everyone needs to be a scholar (we already have plenty of those). You should feel comfortable playing within the genre of the time period though (so don't talk about computers in the 1800's, for example).
						li
							h3.serif-font When do you rehearse?
							p.sans-font
								| Musical history rehearses on Tuesdays from 7-9. Regular history is Thursdays from 7-9. Locations vary depending on what's available.
						li
							h3.serif-font How many people are you looking to cast?
							p.sans-font Probably about 2-3 for regular history, 3-4 for musical.
						li
							h3.serif-font What about money?
							p.sans-font
								| This group is mainly for fun; it is not a professional ensemble. To cover rehearsal space and coaching costs, we ask folks to chip in $35 a month. Money we make on shows is paid back to the ensemble.
						li
							h3.serif-font What's the time commitment?
							p.sans-font
								| Weekly rehearsals (2 hrs) plus shows. Musical history will run through March at which point we'll discuss if we want to proceed. Improvised History is an ongoing ensemble.
						li
							h3.serif-font When are your shows?
							p.sans-font
								| Improvised history has shows
								|	Jan 20th,
								|	Feb 17,
								|	March 17*,
								|	April 21.
								|	All at the democracy center in Harvard Square
							p.sans-font
								|	Musical History has shows
								|	Feb 8th,
								|	March 10th,
								|	March 17th,
								|	April 9th.

		include ./contact.jade

