.section.off-white-background#contact
	h2.section-header.serif-font
		span.first-letter G
		| et In 
		span.first-letter T
		| ouch
	a.contact-link#email-link(href="mailto:improvisedhistory@gmail.com")
		.contact-block
			.circle.brown-background
				i.fa.fa-envelope.white
			.contact-text.sans-font EMAIL
	a.contact-link#facebook-link(href="https://www.facebook.com/improvhistory")
		.contact-block
			.circle.brown-background
				i.fa.fa-facebook.white
			.contact-text.sans-font FACEBOOK
	a.contact-link#twitter-link(href="https://twitter.com/improvhistory")
		.contact-block
			.circle.brown-background
				i.fa.fa-twitter.white
			.contact-text.sans-font TWITTER
	//- a.contact-link#newsletter-link(href="/newsletter")
	//- 	.contact-block
	//- 		.circle.brown-background
	//- 			i.fa.fa-paper-plane.white 
	//- 		.contact-text.sans-font NEWSLETTER
