html
	head
		title Improvised History
		link(rel="stylesheet" type="text/css" href="normalize.css")
		link(rel="stylesheet" type="text/css" href="style.css")
		link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Cinzel|Cinzel+Decorative' rel='stylesheet' type='text/css')
		link(href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet")
		link(rel="icon" type="image/ico" href="images/favicon.ico")
		script(src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(type="text/javascript" src="iph.js")
		script(type="text/javascript").
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-47994502-1']);
			_gaq.push(['_setDomainName', 'improvhistory.com']);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body
		block content
