html
	head
		title An Improvised People's History
		link(rel="stylesheet" type="text/css" href="normalize.css")
		link(rel="stylesheet" type="text/css" href="style.css")
		link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Cinzel|Cinzel+Decorative' rel='stylesheet' type='text/css')
		link(href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet")
		script(src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(type="text/javascript" src="iph.js")
	body
		block content
