.nav.off-white-background
	.centered-max-width
		#logo
			img(src="/images/improv-hist-long.png")
		ul.navlinks
			li.navlink
				a#about(href="/#welcome")
					| About
			li.navlink
				a#shows(href="/#schedule")
					| Shows
			li.navlink
				a#castlist(href="/#cast")
					| Cast
			li.navlink
				a#contactus(href="/#contact")
					| Contact
