extends ./main.jade
block content
	.container
		include ./nav.jade
		#unsubscribe-intro.section.brown-background.form-page-intro
			.content
				h2.serif-font.section-header.white
					span.first-letter S
					| orry to see you go!
				p.sans-font.white.center.centered-content.text-max-width
					| Just enter in your email address below to be removed from our mailing list. If any further problems arise, please contact us via the email link at the bottom of the page. Be sure to keep in touch via Facebook and Twitter!
				form#newsletter-unsubscribe.center.centered-content
					label.serif-font.white
						| Your Email:
						input.sans-font.center(type='email', name='email', placeholder='*Required', required='')
					input#newsletter-unsub.ticket-link.brown.sans-font.off-white-background(type='submit', value='Unsubscribe')
				#unsubscribe-success.hide.centered-content.center.form-success
					h2.serif-font.white
						span.first-letter T
						| hank 
						span.first-letter Y
						| ou!
					p.white.sans-font.text-max-width
						| You have been removed from our newsletter list. You will no longer receive our monthly newsletter. If you ever want to resubscribe, 
						a(href='/newsletter') Click Here
						| !

		include ./contact.jade

