/* style.css
Stylesheet for improvhistory.com
*/

/* Default Overrides */
body {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
}

ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

p {
	margin: 0px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	font-weight: 600;
	color: white;
}

input[type="button"], input[type="submit"], button {
	border: none;
}

input[type="text"], input[type="email"] {
	border-radius: 5px;
	border: none;
	line-height: 1.5;
	padding: 2px 5px;
}

/* Reusable elements */
.sans-font {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
}
.serif-font {
	font-family: 'Cinzel', serif;
	font-weight: 300;
}
.first-letter {
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 300;
}

.italics {
	font-style: italic;
}

.bold {
	font-weight: 600;
}

.white {
	color: white;
}

.off-white-background {
	background-color: rgb(218,202,192);
}

.lighter-off-white-background {
	background-color: rgb(228,212,202);
}

.brown-background {
	background-color: rgb(48,28,18);
}

.hide {
	display: none;
}

/* Layout Elements */

.container {
	width: 100%;
}

.section {
	padding: 30px 60px;
	position: relative;
	z-index: 0;
	min-height: 200px;
}

.content {
	padding: 60px 0px;
}

.nav {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 75px;
	z-index: 100;
	-webkit-box-shadow: -2px 2px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -2px 2px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -2px 2px 10px 0px rgba(50, 50, 50, 0.75);
	padding: 10px 22px;
	text-align: center;
}

.navlinks {
	position: absolute;
	margin-right: 22px;
	bottom: 10px;
	right: 44px;
}

.navlink {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 120%;
}

.section-header {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 200%
}

.centered-max-width {
	margin-right: auto;
	margin-left: auto;
	max-width: 1200px;
}

.text-max-width {
	max-width: 600px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.centered-content {
	text-align: center;
}

.paragraph {
	max-width: 50%;
	float: right;
}

.section:before,
.section:after {
    content:"";
    display:table;
}

.section:after {
    clear:both;
}

.ticket-link {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
	width: 100px;
}

.eventbrite {
	background-color: #f16924;
	color: white;
}

.eventbrite:hover{
	background-color: #CC581D;
}

.cast-member {
	display: inline-block;
	padding: 11px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.cast-member-photo {
	background-color: white;
	height: 120px;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
}

.cast-member-photo img {
	width: 100%;
}

.cast-name {
	margin-top: 5px;
}

.cast-nickname {
	font-size: 90%;
}

.circle {
	border-radius: 50%;
	width: 75px;
	height: 75px;
	display: table;
	margin-right: auto;
	margin-left: auto;
}

.circle i {
	display: table-cell;
	vertical-align: middle;
	font-size: 250%;
}

.contact-block {
	display: inline-block;
	margin: 10px 40px;
	text-align: center;
}

.contact-block .contact-text {
	font-weight: 400;
	font-size: 120%;
	padding-top: 10px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.contact-link .circle:hover {
	background-color: rgb(126,78,58);
}



/* Specific Elements */

#page-title {
	margin-bottom: 20px;
}

#logo {
	float: left;
}

#logo img {
	max-width: 400px;
	width: auto;
	max-height: 75px;
}

#welcome {
	margin-top: 75px;
	padding-top: 90px;
	padding-bottom: 90px;
	background-image: url(images/GlobeBk.jpg);
	background-position: 55% 90%; /* 45% 75% also looks good */
}

#welcome h2 {
	margin-bottom: 20px;
	margin-top: 0px;
	padding-left: 15px;
	line-height: 1;
	text-align: right;
}

#welcome h1 {
	margin-bottom: 0px;
	line-height: 1;
}

#show-dates {
	margin: 0px auto;
	width: 100%;
	max-width: 1000px;
}

#show-dates th {
	font-weight: 400;
}

#show-dates tr:not(:first-of-type):hover {
	background-color: rgb(228,212,202);
	cursor: pointer;
}

#show-dates td {
	padding: 1% 4%;
	position: relative;
}

#show-dates td.tickets {
	padding: 1% 4%;
	position: relative;
	text-align: center;
}

#show-dates .location-info td{
	padding: 20px 50px;
	margin-bottom: 20px;
	max-width: 500px;
}

#show-dates .location-info .address {
	padding: 10px 0px;
	display: inline-block;
}

.show-description {
	padding: 10px 0px;
}

.show-description a {
	font-weight: 600;
}

#cast {
	background-image: url(images/wheels.jpg);
	background-size: cover;
	overflow: hidden;
}

#contact {
	text-align: center;
}

.form-page-intro {
	margin-top: 75px;
	padding-top: 60px;
	background-image: url(images/citystreet.jpg);
	background-size: cover;
	text-align: center;
}

.form-page-intro .content, #cast .content {
	background-color: rgba(48,28,18, 0.75);
	-webkit-box-shadow: 0px 0px 50px 50px rgba(48,28,18, 0.75);
	-moz-box-shadow:    0px 0px 50px 50px rgba(48,28,18, 0.75);
	box-shadow:         0px 0px 50px 50px rgba(48,28,18, 0.75);
	display: inline-block;
}

.form-page-intro form, #subscribe-success, #unsubscribe-success {
	margin-top: 40px;
	margin-bottom: 40px;
}

.form-page-intro form input[type="text"], .form-page-intro form input[type="email"] {
	width: 200px;
	display: block;
	margin-top: 5px;
	margin-bottom: 15px;
}

.form-page-intro form label {
	display: block;
}

.form-page-intro input.off-white-background:hover {
	background-color: rgb(228,212,202);
	color: white;
	cursor: pointer;
}

#subscribe-success {
	min-height: 240px;
}

.mobile-only {
	display: none;
}

/* Responsive queries */

@media (min-width: 968px){
	#schedule {
		padding: 60px;
	}
}

@media (max-width: 967px){
	#show-dates td {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 767px){
	.navlinks {
		display: none;
	}
}

@media (max-width: 695px){
	.section {
		padding-left: 30px;
		padding-right: 30px;
	}
	#welcome {
		background-image: none;
	}
	.paragraph {
		max-width: 100%;
		float: left;
	}
}

@media (max-width: 626px){
	.show-time {
		display: none;
	}
	.show-location {
		display: none;
	}
	#logo img{
		max-width: 80%;
		padding-top: 2%;
	}
	.nav {
		padding: 1%;
	}
	.form-page-intro, #cast {
		background-image: none;
	}
	#show-dates .location-info td {
		padding: 12px 15px;
	}
	.mobile-only {
		display: block;
	}
}
